---
// src/components/sections/SectionVar04.astro

import type { Props as ImgProps } from "@components/ui/Images.astro";
---

<div class="var04">
    <div class="var04__container">
        <div class="var04__header"></div>
    </div>
</div>
