---
import Cv06 from "@components/ui/card/Cv06.astro";

// src/components/sections/testdev/TestDev.astro
---

<div class="test-dev">
    <div class="test-dev__container">
        <Cv06 />
    </div>
</div>
