---
// src/components/sections/SectionVar02.astro

export interface Props {
    description: string;
    btnText: string;
}
---

<div class="sectionVar02 animate">
    <div class="sectionVar02__container">
        <p>Быстро, качественно, надёжно — закажите сейчас!</p>
        <button class="button button--filled">Получить предложение</button>
    </div>
</div>

<style lang="scss">
    @use "@styles/base/media-new" as *;
    .sectionVar02 {
        &__container {
            padding-top: 0;
            text-align: center;
            //767px и более
            @media (min-width: $tablet-small) {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: var(--space-grid-gap);
            }
        }
        p {
            font-size: var(--font-size-headline-small);
            margin-bottom: var(--space-grid-gap);

            //767px и более
            @media (min-width: $tablet-small) {
                margin-bottom: 0;
            }
        }
    }
</style>
