---
// src/components/ui/title/SectionTitleVar01.astro
export interface Props {
    id?: string;
    title: string;
    subtitle: string;
    tag?: string;
}

const { title, subtitle, id, tag } = Astro.props;
---

<div class="section-title" id={id}>
    <h2>{title}</h2>
    <p>{subtitle}</p>
</div>

<style lang="scss">
    @use "@styles/base/media-new" as *;
    .section-title {
        margin-bottom: var(--space-xxl);
        h2 {
            font-size: var(--font-size-display-small);
            margin-bottom: var(--space-lg);
        }
        p {
            font-size: var(--font-size-headline-small);
            padding-left: 24px;
            position: relative;
            max-width: 552px;
            &::before {
                position: absolute;
                content: "";
                width: 16px;
                height: 6px;
                left: 0;
                top: 0;
                background-color: var(--md-sys-color-primary);
            }
        }
    }
    //599px и более
    @media (min-width: $mobile-large) {
        .section-title {
            margin-bottom: var(--space-xxl);
            h2 {
                font-size: var(--font-size-display-small);
                margin-bottom: var(--space-lg);
            }
            p {
                font-size: var(--font-size-headline-small);
                padding-left: 96px;
                position: relative;
                max-width: 648px;
                &::before {
                    position: absolute;
                    content: "";
                    width: 72px;
                    height: 6px;
                    left: 0;
                    top: 0;
                    background-color: var(--md-sys-color-primary);
                }
            }
        }
    }
</style>
