---
import Cv100 from "@components/ui/card/cv100.astro";
import Tv01 from "@components/ui/tabs/tv01/Tv01.astro";

// src/components/sections/test-tabs/TestTabs.astro
---

<div class="testtabs">
    <div class="testtabs__container">
        <Tv01 />
        <Cv100 />
    </div>
</div>
